#python3.12
albumentations==2.0.8
matplotlib==3.10.8
#nncf==2.14.0
numpy==1.26.4	
opencv_python==4.10.0.84
#openvino==2024.5.0
pandas==2.2.2
pyserial==3.5
PyYAML==6.0.3
scikit_learn==1.5.0
tensorflow
torch==2.7.1
ultralytics==8.4.12
